.row {
    height: 200px;
    text-align: center;
    vertical-align: middle;
    color: rgb(218, 99, 21);
    font-weight: 700;
    font-family: 'Acme', sans-serif;
    
   }

#main{
margin: auto;
width: 75%;
}



.col-4 {
    font-size: 5rem;
    padding: 30px;
    
}

  body {
    background-image: url('backgroundEleven.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  #restartButton:hover{
    color: rgb(238, 237, 241);
    background-color: darkslateblue;
    
  }

#buttonStyle{
  margin: auto;
  width: 10%;
  border-radius: 50%;
}

#player-turn{
  color: rgb(209, 101, 29);
  margin: auto;
  width: 15%;
  font-size: 3rem;
  font-family: 'Cinzel', serif;
  
}